* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 600;
  background: hsl(233, 47%, 7%);
  line-height: 1.5;
}

.title,
.text-feature,
.feature {
  color: white;
}

.title {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.text-p {
  color: rgb(165, 163, 163);
  font-size: 1rem;
  font-weight: 300;
}

.feature {
  font-size: 1.6rem;
  margin-bottom: 1em;
}

span {
  color: rgb(165, 163, 163);
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 300;
  display: block;
  letter-spacing: 1.5px;
}
strong {
  color: hsl(277, 64%, 61%);
}

/* Layout */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 90%;
  max-width: 1000px;
  border-radius: 5px;
  background: hsl(244, 38%, 16%);
  margin: 60% auto;
}

.image {
  background-image: url(file:///E:/Projetos/projetos_html_css/Frontend%20mentor/stats-preview-card-component-main/images/image-header-mobile.jpg);
  background-size: cover;
  height: 300px;
  position: relative;
  border-radius: 5px 5px 0 0;
}

.image::after {
  content: "";
  position: absolute;
  background: hsl(277, 64%, 61%);
  opacity: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.text {
  padding: 2.5em 2em;
  text-align: center;
}

.text-feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    margin: 20% auto;
  }
  .image {
    width: 75%;
    height: 460px;
  }
  .text {
    padding: 2.5em 2em;
    text-align: center;
    max-width: 750px;
    text-align: left;
  }
  .text-feature {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .title {
    font-size: 2.5rem;
  }
  .text-p {
    color: rgb(165, 163, 163);
    font-size: 15px;
  }
  .text {
    margin-bottom: 2em;
  }
}

.attribution {
  font-size: 30px;
  text-align: center;
  color: whitesmoke;
}
.attribution a {
  color: whitesmoke;
}
